* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color-light-cyan: hsl(193, 38%, 86%);
  --primary-color-neon-green: hsl(150, 100%, 66%);
  --neutral-color-grayish-blue: hsl(217, 19%, 38%);
  --neutral-color-dark-grayish-blue: hsl(217, 19%, 24%);
  --neutral-color-dark-blue: hsl(218, 23%, 16%);
  --font-size: 1.75rem;
  --font-family: "Manrope", sans-serif;
  --font-weight: 800;
}

body {
  background-color: var(--neutral-color-dark-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-container {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--neutral-color-dark-grayish-blue);
  width: 21rem;
  height: 20rem;
  border-radius: 1rem;
  position: relative;
}

.advice-id-section {
  width: 15rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2.2rem;
}

.advice-id-number {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 10rem;
  font-size: 0.9rem;
  letter-spacing: 0.2rem;
  color: var(--primary-color-neon-green);
  font-family: var(--font-family);
  text-transform: uppercase;
}

.advice-section {
  width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1.5rem;
}

.advice-text {
  font-size: var(--font-size);
  font-family: var(--font-family);
  color: var(--primary-color-light-cyan);
  font-size: 1.1rem;
  line-height: 2rem;
  width: 19rem;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  text-align: center;
}

.pattern-divider-mobile {
  width: 17rem;
  display: block;
  margin-top: 1.5rem;
}

.pattern-divider-desktop {
  display: none;
}

.button-circle {
  border-radius: 50%;
  padding: 1.25rem;
  background-color: var(--primary-color-neon-green);
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -2rem;
  cursor: pointer;
  transition: all 0.3s;
  opacity: 1;
}

.button-circle:hover {
  opacity: 0.6;
  transform: translateY(-6px);
}

.active {
  -webkit-box-shadow: 0 0 30px var(--primary-color-neon-green);
  -moz-box-shadow: 0 0 30px var(--primary-color-neon-green);
  box-shadow: 0 0 30px var(--primary-color-neon-green);
  transition: all 0.4s;
  transform: translateY(-0.01rem);
}

.active:hover {
  opacity: 0.6;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.attribution-footer {
  margin-top: 4rem;
  color: var(--neutral-color-grayish-blue);
}

.attribution-footer {
  font-size: 11px;
  text-align: center;
}

.attribution-footer a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 1400px) {
  .card-container {
    margin-top: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--neutral-color-dark-grayish-blue);
    width: 34rem;
    height: 21rem;
    border-radius: 1rem;
  }

  .advice-id-section {
    width: 15rem;
    margin-top: 2.9rem;
  }

  .advice-id-number {
    width: 11rem;
    font-size: 1rem;
    letter-spacing: 0.3rem;
  }

  .advice-section {
    width: 30rem;
    margin-top: 1.5rem;
  }

  .advice-text {
    font-size: var(--font-size);
    line-height: 2.2rem;
    width: 29.291rem;
  }

  .pattern-divider-mobile {
    display: none;
  }

  .pattern-divider-desktop {
    display: block;
    margin-top: 3rem;
  }

  .button-circle {
    bottom: -2rem;
  }

  .button-circle:hover {
    opacity: 0.6;
    transform: translateY(-6px);
  }

  .attribution-footer {
    margin-top: 5rem;
    font-size: 1rem;
  }
}
